<html>
  <head>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="./stellar-lib.js"></script>
    <script type="text/javascript" src="./main.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body ng-app="myApp" class="container ng-scope">

    <!-- Create Stellar Address Widget -->
    <div class="row widget-row">
      <div class="widget col-xs-6 col-xs-offset-3" ng-controller="CreateStellarAddressCtrl">
        <div class="row">
           <h2 class="title col-xs-12 text-center">Create a new Stellar Account</h2>
        </div>
        <div class="row">
           <h3 class="title col-xs-12 text-center">Generate a Stellar Keypair</h3>
           <p class="text-center">Generates a new ED25519 keypair valid to use as a Stellar address/secret</p>
        </div>
        <div class="row">
          <button class="col-xs-8 col-xs-offset-2 btn btn-md btn-primary text-center" ng-click="generate()">Generate</button>
        </div>
        <div class="row" ng-show="data.keypair">
          <div class="col-xs-12">
            <pre>{{data.keypair | json : spacing}}</pre>
          </div>
        </div>
        <div ng-show="data.keypair">
          <div class="row">
            <button class="col-xs-8 col-xs-offset-2 btn btn-md btn-primary text-center" ng-click="createAccount()">Fund with Friendbot!</button>
          </div>
          <div class="row">
            <div class="col-xs-12" ng-show="data.result || data.error">
              <pre>{{data.result || data.error}}</pre>
            </div>
          </div>
        </div>
        <div ng-show="data.result == 'Created!'">
          <div class="row">
            <h4 class="title col-xs-12 text-center">Store the account for future reference</h4>
          </div>
          <form role="form" class="form-horizontal">
            <div class="form-group">
              <label for="send-form-address" class="col-sm-2 control-label">Name:</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" id="send-form-address" ng-model="data.name" placeholder="Enter name for the account"/>
              </div>
            </div>
            <div class="row">
              <button class="col-xs-8 col-xs-offset-2 btn btn-md btn-primary text-center" ng-click="storeAccount()">Store Account</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Account Manager -->
    <div class="row widget-row" id="accountmanager">
      <div class="widget col-xs-6 col-xs-offset-3" ng-controller="AccountManagerCtrl">
        <div class="row">
           <h2 class="title col-xs-12 text-center">Account Manager</h2>
           <p class="text-center">Used to store accounts for reference</p>
        </div>
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="send-form-address" ng-model="data.name" placeholder="Enter address"/>
            </div>
          </div>
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Address:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="send-form-address" ng-model="data.address" placeholder="Enter address"/>
            </div>
          </div>
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Secret:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="send-form-address" ng-model="data.secret" placeholder="Enter secret"/>
            </div>
          </div>
          <div class="form-group">
            <button class="col-xs-8 col-xs-offset-2 btn btn-md btn-primary text-center" ng-click="storeAccount()">Store Account</button>
          </div>
        </form>

        <h3 class="title col-xs-12 text-center" ng-show="accounts.length">Stored Accounts</h3>
        <div class="row">
          <div class="col-xs-12 account-row" ng-class="{top: $index==0}" ng-repeat="account in accounts">
            <a class="shrink" ng-click="account.collapsed = !account.collapsed">{{!account.collapsed ? '[ - ]' : '[ + ]'}}</a>
            <h4>{{account.name}}</h4>
            <div class="content" ng-show="!account.collapsed">
              <a ng-click="accounts.splice($index,1)">[remove]</a>
              <p class="section">keypair</p>
              <pre>{{account.keypair | json : spacing}}</pre>
              <p class="section">balances <a ng-click="refreshBalances(account)">[refresh]</a></p>
              <div class="section" ng-repeat="balance in account.balances">
                <p>{{balance}}</p>
              </div>
              <p class="section">offers [TODO]</p>
              <p class="section">actions</p>
              <button class="col-xs-12 col-md-3 btn btn-md btn-primary text-center account-button" ng-click="viewAccount(account)">View Account</button>
              <button class="col-xs-12 col-md-3 btn btn-md btn-primary text-center account-button" ng-click="setOptions(account)">Set Options</button>
              <button class="col-xs-12 col-md-3 btn btn-md btn-primary text-center account-button" ng-click="sendPayment(account)">Send Payment</button>
              <button class="col-xs-12 col-md-3 btn btn-md btn-primary text-center account-button" ng-click="addTrust(account)">Add Trustline</button>
              <button class="col-xs-12 col-md-3 btn btn-md btn-primary text-center account-button" ng-click="createOffer(account)">Create Offer</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- View Stellar Account Balance Widget -->
    <div class="row widget-row" id="viewaccount">
      <div class="widget col-xs-6 col-xs-offset-3" ng-controller="ViewAccountInfoCtrl">
        <div class="row">
           <h3 class="title col-xs-12 text-center">View Account Info</h3>
           <p class="text-center">View account info, sequences, and balances</p>
        </div>
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Address:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="send-form-address" ng-model="data.address" placeholder="Enter address"/>
            </div>
          </div>
          <div class="form-group">
            <button class="col-xs-8 col-xs-offset-2 btn btn-md btn-primary text-center" ng-click="viewAccountInfo()">View Account Info</button>
          </div>
        </form>
        <div class="row" ng-show="data.result || data.error">
          <div class="col-xs-12">
            <pre>{{data.result || data.error}}</pre>
          </div>
        </div>
      </div>
    </div>

    <!-- Stream Account Transactions -->
    <div class="row widget-row">
      <div class="widget col-xs-6 col-xs-offset-3" ng-controller="StreamAccountTransactionsCtrl">
        <div class="row">
           <h3 class="title col-xs-12 text-center">Stream Account Transactions</h3>
           <p class="text-center">Demostrates how to use the streaming account transactions API</p>
        </div>
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Address:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="send-form-address" ng-model="data.address" placeholder="Enter address"/>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="col-xs-8 col-xs-offset-2 btn btn-md btn-primary text-center" ng-click="streamTransactions()">Stream Transactions</button>
          </div>
        </form>
        <div ng-repeat="transaction in data.transactions">
          <div class="row">
            <pre class="col-xs-12">
              {{transaction}}
            </pre>
          </div>
        </div>
        <div ng-show="data.error">
          {{data.error}}
        </div>
      </div>
    </div>

    <!-- Set Options Widget -->
    <div class="row widget-row" id="setoptions">
      <div class="widget col-xs-6 col-xs-offset-3" ng-controller="SetOptionsCtrl">
        <div class="row">
           <h3 class="title col-xs-12 text-center">Set Options</h3>
           <p class="text-center">Set various account options</p>
        </div>
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Address:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="send-form-address" ng-model="data.address" placeholder="Enter address"/>
            </div>
          </div>
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Secret:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="send-form-address" ng-model="data.secret" placeholder="Enter secret"/>
            </div>
          </div>
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Set Flags:</label>
            <div class="col-sm-10">
              <label>AUTH_REQUIRED_FLAG:
                <input class="form-control" type="checkbox" ng-model="data.setFlags.AUTH_REQUIRED_FLAG"  ng-true-value="1" ng-false-value="0"/>
              </label><br/>
              <label>AUTH_REVOCABLE_FLAG:
                <input class="form-control" type="checkbox" ng-model="data.setFlags.AUTH_REVOCABLE_FLAG" ng-true-value="2" ng-false-value="0"/>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Clear Flags:</label>
            <div class="col-sm-10">
              <label>AUTH_REQUIRED_FLAG:
                <input class="form-control" type="checkbox" ng-model="data.clearFlags.AUTH_REQUIRED_FLAG" ng-true-value="1" ng-false-value="0"/>
              </label><br/>
              <label>AUTH_REVOCABLE_FLAG:
                <input class="form-control" type="checkbox" ng-model="data.clearFlags.AUTH_REVOCABLE_FLAG" ng-true-value="2" ng-false-value="0"/>
              </label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="col-xs-8 col-xs-offset-2 btn btn-md btn-primary text-center" ng-click="setOptions()">Submit</button>
          </div>
        </form>
        <div class="row" ng-show="data.result || data.error">
          <div class="col-xs-12">
            <pre>{{data.result || data.error}}</pre>
          </div>
        </div>
      </div>
    </div>


    <!-- Send a Payment Widget -->
    <div class="row widget-row" id="payment">
      <div class="widget col-xs-6 col-xs-offset-3" ng-controller="SendPaymentCtrl">
        <div class="row">
           <h3 class="title col-xs-12 text-center">Send a Payment</h3>
           <p class="text-center">Send a simple payment to another account</p>
        </div>
        <form role="form" class="form-horizontal">
        <div class="form-group">
          <label for="send-form-address" class="col-sm-2 control-label">Address:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="send-form-address" ng-model="data.address" placeholder="Enter address"/>
          </div>
        </div>
        <div class="form-group">
          <label for="send-form-address" class="col-sm-2 control-label">Secret:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="send-form-address" ng-model="data.secret" placeholder="Enter secret"/>
          </div>
        </div>
        <div class="form-group">
          <label for="send-form-address" class="col-sm-2 control-label">Destination:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="send-form-address" ng-model="data.destination" placeholder="Enter Destination address"/>
          </div>
        </div>
        <div class="form-group">
          <label for="send-form-address" class="col-sm-2 control-label">Currency:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="send-form-address" ng-model="data.currency" placeholder="Enter currency code"/>
          </div>
        </div>
        <div class="form-group">
          <label for="send-form-address" class="col-sm-2 control-label">Issuer:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="send-form-address" ng-model="data.issuer" placeholder="Enter issuer (blank for XLM)"/>
          </div>
        </div>
        <div class="form-group">
          <label for="send-form-address" class="col-sm-2 control-label">Amount:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="send-form-address" ng-model="data.amount" placeholder="Enter amount"/>
          </div>
        </div>
        <div class="form-group">
          <label for="send-form-address" class="col-sm-2 control-label">Memo:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="send-form-address" ng-model="data.memo" placeholder="Enter a text memo"/>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="col-xs-8 col-xs-offset-2 btn btn-md btn-primary text-center" ng-click="sendPayment()">Send!</button>
        </div>
        </form>
        <div class="row" ng-show="data.result || data.error">
          <div class="col-xs-12">
            <pre>{{data.result || data.error}}</pre>
          </div>
        </div>
      </div>
    </div>

    <!-- Create Trust Line Widget -->
    <div class="row widget-row" id="addtrust">
      <div class="widget col-xs-6 col-xs-offset-3" ng-controller="CreateTrustLineCtrl">
        <div class="row">
           <h3 class="title col-xs-12 text-center">Create a Trust Line</h3>
           <p class="text-center">Create a trust line for a currency/issuer</p>
        </div>
        <form role="form" class="form-horizontal">
        <div class="form-group">
          <label for="send-form-address" class="col-sm-2 control-label">Address:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="send-form-address" ng-model="data.address" placeholder="Enter address"/>
          </div>
        </div>
        <div class="form-group">
          <label for="send-form-address" class="col-sm-2 control-label">Secret:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="send-form-address" ng-model="data.secret" placeholder="Enter secret"/>
          </div>
        </div>
        <div class="form-group">
          <label for="send-form-address" class="col-sm-2 control-label">Issuer:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="send-form-address" ng-model="data.issuer" placeholder="Enter issuer"/>
          </div>
        </div>
        <div class="form-group">
          <label for="send-form-address" class="col-sm-2 control-label">Currency:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="send-form-address" ng-model="data.currency" placeholder="Enter currency"/>
          </div>
        </div>
        <div class="form-group">
          <label for="send-form-address" class="col-sm-2 control-label">Amount:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="send-form-address" ng-model="data.amount" placeholder="Enter amount"/>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="col-xs-8 col-xs-offset-2 btn btn-md btn-primary text-center" ng-click="createTrustLine()">Create Trust Line</button>
        </div>
        </form>
        <div class="row" ng-show="data.result || data.error">
          <div class="col-xs-12">
            <pre class="col-xs-12">{{data.result || data.error}}</pre>
          </div>
        </div>
      </div>
    </div>

    <!-- Create Offer Widget -->
    <div class="row widget-row" id="createoffer">
      <div class="widget col-xs-6 col-xs-offset-3" ng-controller="StreamAccountTransactionsCtrl">
        <div class="row">
           <h3 class="title col-xs-12 text-center">Create Offer</h3>
        </div>
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Address:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="send-form-address" ng-model="data.address" placeholder="Enter address"/>
            </div>
          </div>
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Secret:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="send-form-address" ng-model="data.secret" placeholder="Enter secret"/>
            </div>
          </div>
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Buy:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="send-form-address" ng-model="data.buy.code" placeholder="The currency code you're buying"/>
            </div>
          </div>
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Issuer:</label>
            <div class="col-sm-10">
              <input ng-disabled="data.buy.code.toLowerCase() == 'xlm'" class="form-control" type="text" id="send-form-address" ng-model="data.buy.issuer" placeholder="The currency's issuer address"/>
            </div>
          </div>
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Sell:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="send-form-address" ng-model="data.sell.code" placeholder="The currency you have that you're selling"/>
            </div>
          </div>
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Issuer:</label>
            <div class="col-sm-10">
              <input ng-disabled="data.sell.code.toLowerCase() == 'xlm'" class="form-control" type="text" id="send-form-address" ng-model="data.sell.issuer" placeholder="The currency's issuer"/>
            </div>
          </div>
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Amount:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="send-form-address" ng-model="data.amount" placeholder="The amount of currency you're selling"/>
            </div>
          </div>
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">Price:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="send-form-address" ng-model="data.price" placeholder="The price you're selling for (sell/buy)"/>
            </div>
          </div>
          <div class="form-group">
            <label for="send-form-address" class="col-sm-2 control-label">OfferId:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="send-form-address" ng-model="data.offerid" placeholder="id for the offer (0 to delete the offer)"/>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="col-xs-8 col-xs-offset-2 btn btn-md btn-primary text-center" ng-click="createOffer()">Create Offer</button>
          </div>
        </form>
        <div ng-repeat="transaction in data.transactions">
          <div class="row">
            <pre class="col-xs-12">
              {{result}}
            </pre>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>